@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
    --primary-color : #0A1828;
    --text-color : #BFA181;
    --nav-color:#178582;
}

body {
    font-family: 'Merriweather',
        serif;
}

hr {
    margin : 2rem 0rem;
    color: var(--text-color);
}

/**Containers**/

.container {
    padding-left: 1rem;
    padding-right: 1 rem;
}

.center-container {
    max-width : 600px;
    margin: auto;
}

/** Links **/

.link{
    text-decoration :none;
    padding : 0.5rem 1rem ;
}

.link-primary {
    background-color : var(--primary-color);
    border-radius : 0.5rem;
    color : var(--text-color);
}

.link-secondary {
    color : var(--text-color);
    border : 1px solid var(--primary-color);
    border-radius : 0.5rem;
}

/** Lists **/

.list-non-bullet {
    list-style : none;
}

.list-item-inline {
    display : inline;
    padding : 0rem 0.5rem;
}


/** Navigation **/

.navigation {
    background-color: var(--primary-color);
    color : var(--text-color);
    padding : 1rem;
    border-bottom-left-radius: 1rem;;
}

.navigation .nav-brand {
    font-weight : bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align : right;
}

.navigation .link {
    color : var(--text-color);
}

.navigation .link-active {
    font-weight :bolder;
}

